body,
h1,
h2,
h3,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove list styles and make text legible */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.clearfix {
  zoom: 1;
}
